/********** Template CSS **********/
:root {
  --primary: #FF6F0F;
  --secondary: #FFF0E6;
  --light: #F8F8F9;
  --dark: #001D23;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

/*** Navbar ***/
.fixed-top {
  transition: .5s;
}

.top-bar {
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #000000;
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav {
      margin-top: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.07);
      background: var(--light);
  }

  .navbar .navbar-nav .nav-link {
      padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      visibility: hidden;
      top: 100%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
      transition: .5s;
      opacity: 0;
      
  }

  .navbar .nav-item:hover .dropdown-menu {
      transform: rotateX(0deg);
      visibility: visible;
      transition: .5s;
      opacity: 1;
  }
}
  .text-color {
    color:   var(--light)
  }
/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;

}
div.bg{
  background:rgba(255, 115, 0, 0.4)

}

.u-section-2 {
  background-color: var(--primary)
  /* background-position: inherit; */
}
.u-section-2 .u-sheet-1 {
  min-height: 923px;
}
.u-section-2 .u-image-1 {
  width: 430px;
  height: 430px;
  background-image: url("../img/about-1.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0 140px;
}
.u-section-2 .u-image-2{
width: 250px;
height: 250px;
/* background-image: url("../img/about-1.jpg"); */
background-position: 50% 50%;
margin: 60px auto 0 140px;
}
.u-section-2 .u-list-1 {
  width: 977px;
  margin: -81px auto 0;
}
.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 33.3333px));
  min-height: 288px;
  grid-gap: 50px;
}
.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);
  background-image: none;
}
.u-section-2 .u-container-layout-1 {
  padding: 20px;
}
.u-section-2 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}
.u-section-2 .u-text-2 {
  margin-left: 0;
}
.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);
}
.u-section-2 .u-container-layout-2 {
  padding: 20px;
}
.u-section-2 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}
.u-section-2 .u-text-4 {
  margin-left: 0;
}
.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.3);
}
.u-section-2 .u-container-layout-3 {
  padding: 20px;
}
.u-section-2 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}
.u-section-2 .u-text-6 {
  margin-left: 0;
}
.u-section-2 .u-text-7 {
  margin: 40px auto 60px;
}
.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}
@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 761px;
  }
  .u-section-2 .u-list-1 {
    width: 940px;
  }
  .u-section-2 .u-repeater-1 {
    min-height: 277px;
  }
}
@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }
  .u-section-2 .u-list-1 {
    width: 720px;
  }
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 637px;
  }
}
@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1307px;
  }
  .u-section-2 .u-image-1 {
    margin-left: 0;
  }
  .u-section-2 .u-list-1 {
    width: 409px;
    margin-top: -118px;
    margin-right: 0;
  }
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 810px;
  }
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }
  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
  }
  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 37px;
    margin-right: 0;
    margin-bottom: 59px;
  }
}
@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1459px;
  }
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
  .u-section-2 .u-list-1 {
    width: 311px;
    margin-top: -28px;
  }
  .u-section-2 .u-repeater-1 {
    min-height: 887px;
  }
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
  }
  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
  }
  .u-section-2 .u-text-7 {
    margin-top: 35px;
    margin-bottom: 60px;
  }
}
    